# Vector Index and Spatial Index configuration
QDRANT_HOST=localhost
QDRANT_PORT=6333
COLLECTION_NAME=dcat_collection
EMBEDDING_MODEL=text-embedding-3-large
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=spatial_db
THRESHOLD_MIN_SCORE=0.5

# LLM Provider Configuration
LLM_PROVIDER=openai # Options: 'local' or 'openai'

# Local LLM Settings (when LLM_PROVIDER == local). The model is running from a local setup such as Ollama, llama.cpp etc
LOCAL_LLM_MODEL=gemma-4
LOCAL_LLM_BASE_URL=http://localhost:8080/v1
LOCAL_LLM_API_KEY=dummy

# OpenAI Settings (when LLM_PROVIDER=openai)
OPENAI_API_KEY=
OPENAAI_MODEL=gpt-4o-mini

# OpenAI Embedding Model (When EMBEDDING_PROVIDER == 'openai')
OPENAI_EMBEDDINGS_MODEL=text-embedding-3-large

# Common LLM Settings
LLM_TEMPERATURE=0.3

# Embeddings Configuration
EMBEDDINGS_PROVIDER=sentence_transformers  # "local" or "openai" or "sentence_transformers"

# Local Embedding Model settings (When EMBEDDING_PROVIDER == local)
LOCAL_EMBEDDINGS_MODEL=Qwen3-Embedding-4B
LOCAL_EMBEDDINGS_BASE_URL=http://localhost:8081/v1
LOCAL_EMBEDDINGS_API_KEY=dummy

# Sentence Transformers embedding model
SENTENCE_TRANSFORMERS_MODEL=BAAI/bge-m3